@import "https://fonts.googleapis.com/css?family=Lato:400,400i,700|Raleway:400,400i,700";

:root {
	--color-header: #EDEDED;
	--color-green: #27A69B;
	--color-text: #63707D;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	line-height: 1.5rem;
}

html,
body {
	font-family: 'Raleway', 'Lato', 'Arial Rounded MT Bold', sans-serif;
	font-size: 1.8rem;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
	html {
	  font-size: 60%;
	}
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
	html {
	  font-size: 58%;
	}
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
	html {
	  font-size: 55%;
	}
  }

  @media (min-width: 75.0625em) {
	  html {
		  font-size: 60%;
	  }
  }

  h3 {
	font-size: 2.5rem;
	font-weight: bold;
  }

html,
body {
	background-image: url("bg_pattern1.png");
}

img {
	display: block;
	width: 100%;
	max-width: 320px;
  }

nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	background-color: var(--color-header);
	box-shadow: 1px 1px 5px var(--color-text);
}

@media (max-width: 28.75em) {
	nav {
	  width: 100%;
	}

	.nav-list {
		margin: 0 1rem;
	}

	.nav-link {
		padding: 0 0.3rem;
	
	}
}

.header-pic {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	padding: 1vh;
	z-index: 3;
	margin-bottom: auto;
	margin-top: auto;
}

.nav-list {
	list-style: none;
	width: 50vw;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.nav-link {
	text-decoration: none;
	color: var(--color-text);
	font-size: 1.8rem;
	transition: 0.7s ease-in-out;
}

.nav-link:hover {
	color: var(--color-green);
	text-shadow: 1px 0 0 var(--color-green);
}

.welcome-section {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.welcome-text {
	margin-right: 10vw;
}

.welcome-text > h1 {
	font-size: 3.2rem;
	color: var(--color-green);
	font-weight: bold;
}

.welcome-text > p {
	font-size: 2rem;
	font-style: italic;
	padding-top: 0.5rem;
	color: var(--color-text);
	text-align: center;
}

.projects-header {
	text-align: center;
	padding: 5rem 0 3rem 0;
	color: var(--color-text);
	
}

/* .projects-grid { 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
} */

.projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

@media (max-width: 30.625em) {
	.projects-section {
	  padding: 6rem 1rem;
	}
  
	.projects-grid {
	  grid-template-columns: 1fr;
	  grid-gap: 2rem;
	  margin: 0 1rem;
	}
  }

 .projects-grid > #tr-page, #l-page {
	justify-self: right;
}

.project-tile {
	border-radius: 2px;
	max-width: 320px;
	width: 90%;
	margin: auto;
}

.project-name {
	width: 100%;
	background-color: var(--color-text);
	padding: 1rem 0;
	text-align: center;
	color: var(--color-header);
	font-size: 1.7rem;
}

.project-tile {
	text-decoration: none;
}

.code {
	color: var(--color-text);
	font-weight: bold;
	padding: 0 0.2rem;
	transition: color 0.3s ease-out;
}

.project-tile:hover .code {
	color: var(--color-green);
}

.contact-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.contact-title {
	text-align: center;
	color: var(--color-text);
	padding: 8rem 0 3rem 0;
}

@media (max-width: 28.75em) {
	.contact-title {
	  padding-top: 3rem;
	}
  }
  
.contact-links {
	display: flex;
	justify-content: space-around;
	width: 50vw;
	flex-wrap: wrap;
	padding-bottom: 2rem;
	border-bottom: 3px solid var(--color-green);
}

@media (max-width: 28.75em) {
	.contact-link {
		padding: 1.2rem 0;
	}
}

.contact-link {
	text-decoration: none;
	color: var(--color-text);
	transition: 0.7s ease;
}

.contact-link:hover {
	color: var(--color-green);
}

footer {
	text-align: center;
	color: var(--color-text);
	padding-bottom: 2rem;
}

footer > p {
	font-family: 'Lato';
	font-style: italic;
}